* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    background-color: lightcoral;
    margin: 40px auto 20px 0;
    width: 600px;
    padding: 40px;
    text-align: center;
    font-size: 30px;
}
.box2{
    background-color: lightseagreen;
    width: 600px;
    margin: 40px auto;
    padding: 60px;
    font-size: 40px;
}
.box3{
    background-color: mediumpurple;
    width: 600px;
    margin: 40px 0 20px auto;
    padding: 70px;
}
.box3 h3{
    font-size: 25px;
    font-weight: normal;
}